.hero__title-wrap--service {
    align-items: centers;
}

.hero__title--service {
    margin-right: auto;
}

.form--service {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
}

@media (max-width: 790px) {
    .form--service {
        margin:  0 auto;
    }
}

.form__wrapper-group {
    display: flex;
    align-items: center;
    width: 600px;
}

@media (max-width: 790px) {
    .form__wrapper-group {
        flex-direction: column;
        width: 100%;
    }
}

.form__input--service {
    margin-right: -30px;
}

@media (max-width: 790px) {
    .form__input--service {
        margin-right: 0;
    }
}

.form__checkbox-wrap--service {
    margin-top: 0;
    align-self: flex-start;
}

@media (max-width: 790px) {
    .form__checkbox-wrap--service {
        margin-top: 20px;
        align-self: center;
    }
    .wpcf7-acceptance label span {
        font-size: 10px;
    }
}

.button--service:hover {
    transform: none;
}

.services__wrapper-content {
    width: 40%;
}

@media (max-width: 1229px) {
    .services__wrapper-content {
        width: 100%;
    }
}

.services__content-list-title--service {
    margin-bottom: 30px;
}

.services__content-list li::before {
    margin-top: 0;
}

.service__wrapper {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1229px) {
    .service__wrapper {
        display: flex;
        flex-direction: column;
    }
}

/* Слайдер */
.service-slider {
    position: relative;
    width: 50%;
    padding: 0 44px;
}

@media (max-width: 1229px) {
    .service-slider {
        width: 100%;
    }
}

@media (max-width: 599px) {
    .service-slider {
        padding: 0;
    }
}

.slider-img img {
    max-width: none;
}

.slick-slide {
    position: relative;
}

.slick-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Стрелка */
.service-slider .slick-arrow {
    z-index: 100;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    width: 27px;
    height: 27px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #0a2736;
    border-radius: 50%;
    font-size: 0; 
}

.service-slider .slick-arrow::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 7px;
    margin-top: -4px;
    border: solid #0a2736;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px; 
    transform: rotate(135deg); 
}

.service-slider .slick-arrow::after{
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 2px;
    top: 50%;
    right: 6px;
    margin-top: -1px;
    background-color: #0a2736;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0; 
}

.slick-arrow.slick-next {
    right: 0; 
    transform: rotate(180deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0; 
}

.slick-list {
    overflow: hidden; 
}

/* Лента слайдов */
.slick-track {
    display: flex; 
}

/* Слайд */
.service-slider .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #f4fbfd;
    background-image: none; 
}


.slider-link {
    display: flex;
    width: 100%;
    min-height: 419px;
    border-radius: 10px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    cursor: pointer; 
}

@media (max-width: 790px) {
    .slider-link {
        display: flex;
        width: 100%;
        min-height: 319px;
        border-radius: 10px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        cursor: pointer; 
    }
}

/* Точки (булиты) */
.slick-dots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-self: center; 
}

.slick-dots li {
    list-style: none;
    margin: 0 5px; 
}

/* Активная точка */
.slick-dots li.slick-active button {
    background: linear-gradient(180deg, #0a2736 32%, #154b66 68%); 
}

/* Элемент точки */
.slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    background-color: #0a273631;;
    border: 1px solid #0a2736;
}

.service-description {
    position: relative;
    padding: 75px 0;
    background-color: #d9e8f5;
    border-top: 1px solid #ffffff;
}

@media (max-width: 700px) {
    .service-description {
        padding: 35px 0;
    }
}

.service-description__text-wrapper {
    position: relative;
    display: block;
    overflow-y: scroll;

    background-color: #d9e8f5;
    max-width: 1100px;
    height: 355px;
}

.service-description__content {
    position: relative;
    height: 400px;
    padding-right: 75px;
}

@media (max-width: 700px) {
    .service-description__content {
        padding-right: 35px;
    }
}

.service-description__content p {
    padding-bottom: 1em;
}

.service-description__content  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 1em;
}

.service-description__content  li {
    padding-bottom: 1em;
}

.service-description__text-wrapper::-webkit-scrollbar {
    width: 14px;
    background-color: #ffffff;
}

.service-description__text-wrapper::-webkit-scrollbar-thumb {
    position: relative;
    z-index: 101;
    width: 14px;
    height: 10px;
    border-radius: 10px;
    background-color: #3582ae;
}

.service-description__text-wrapper::-webkit-scrollbar-track {
    background: -moz-linear-gradient(90deg, #d9e8f5 0%, #d9e8f5 32%, rgba(201, 215, 227, 1)32%, rgba(201, 215, 227, 1)64%, #d9e8f5 64%, #d9e8f5 100%);
    background: -webkit-linear-gradient(90deg, #d9e8f5 0%, #d9e8f5 32%, rgba(201, 215, 227, 1)32%, rgba(201, 215, 227, 1)64%, #d9e8f5 64%, #d9e8f5 100%);
    background: linear-gradient(90deg, #d9e8f5 0%, #d9e8f5 32%, rgba(201, 215, 227, 1)32%, rgba(201, 215, 227, 1)64%, #d9e8f5 64%, #d9e8f5 100%);
}